<div class="app-container">
  <header class="app-header">
    <img src="/logo-h.webp" alt="Logo Haacchi Music" class="app-logo" />
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
      <a routerLink="/player" routerLinkActive="active">Lecteur</a>
      <a routerLink="/playlists" routerLinkActive="active">Playlists</a>
      <a routerLink="/about" routerLinkActive="active">Pourquoi Haacchi Music</a>
    </nav>
  </header>

  <main class="app-main">
    <router-outlet />
  </main>

  <footer class="app-footer">
    <p>© 2025 Haacchi Music</p> 
  </footer>
</div>
